# Dependencies
node_modules/
package-lock.json
yarn.lock

# Compiled files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage/

# OS files
.DS_Store

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 
examples/
